@import "../variable/variable";
@import "../mixin/font";

.card {
  border: 0 !important;

  .card-body {
    .card-title{
      @include font(18px, 500);
      margin-bottom: 20px;
    }
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
}