@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

:root {
  --transition: all 0.3s ease-out 0s;
  --sidebar-menu-border-colour: #C8C8C8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scrollbar-color: #8793B4 transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 26px;
}

a {
  display: inline-block;
  text-decoration: none;
}

.btn {
  font-weight: 500;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.text-purple {
  color: #7460ee !important;
}

.bg-purple {
  background: #7460ee !important;
}

span,
small {
  display: inline-block;
}

a:hover,
a:focus {
  text-decoration: none;
}

.print_btn {
  background-color: #2EBC8C;
  border: 0;
  color: #ffffff;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 8px;

  &:hover {
    background-color: #39435C;
  }
}


a,
button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.p-20 {
  padding: 20px;
}

body {
  overflow-x: hidden;
  @include font(15px, 400);
  line-height: 26px;
  color: $black;
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: $body;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.modal-open {
  overflow: auto !important;
  padding-right: 0 !important;
}

::selection {
  background-color: $primary;
  color: $white;
}

.container-fluid {
  padding: 0 24px
}

// fieldset
fieldset {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  position: relative;

  .fieldset_title {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: -11px;
    left: 12px;
    display: inline-block;
    background-color: #ffffff;
    padding: 2px 8px;
  }
}


// printable option
.printable_option {
  border-bottom: 1px solid $border-colour;
  padding-bottom: 10px;
  margin-bottom: 10px;

  .btn_label {
    background-color: #2EBC8C;
    border: 0;
    color: #ffffff;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    padding: 4px 8px;

    &:hover {
      background-color: $black
    }
  }

  .pdf_btn {
    background-color: #606d91
  }

  .excel_btn {
    background-color: #7460ee
  }
}


// line limit start
.line-limit-1 {
  @include line_limit (1 !important);
}

.line-limit-2 {
  @include line_limit (2 !important);
}

.line-limit-3 {
  @include line_limit (3 !important);
}

.line-limit-4 {
  @include line_limit (4 !important);
}

.line-limit-6 {
  @include line_limit (6 !important);
}

.line-limit-7 {
  @include line_limit (7 !important);
}

.line-limit-8 {
  @include line_limit (8 !important);
}

.line-limit-9 {
  @include line_limit (9 !important);
}

.line-limit-10 {
  @include line_limit (10 !important);
}